
:root {
    --colorDefault: #00d0d0;    
}

@font-face{
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

* {
 font-size: 100%;
 font-family: 'Roboto', sans-serif;
 color: var(--colorDefault);
}

body{	
	background-color:  black;		
}

#header{
	text-align: center;
	padding: 5px;
	font-size: 40px;
}

.grid{
	display: grid;
	grid: 750px / auto 250px 750px auto;	
	margin: auto;
}

.grid > canvas:nth-child(1){
	grid-column: 2 / 3;
	grid-row: 1 / 1;
	z-index: 0;
}

.grid > canvas:nth-child(2){
	grid-column: 2 / 2;
	grid-row: 1 / 1;
}

.grid > canvas:nth-child(3){
	grid-column: 3 / 3;
	grid-row:  1/ 1;
}

#menuCanvas{
	background-color: rgba(255, 0, 50, 0.25);
}

#gameCanvas{
	background-color: rgba(255, 255, 0, 0.25);
}

#game .screen {	
	width: 1000;
	height: 750;
	display: none;
	z-index: 10;
}

#game .screen.active{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	display: block;	
}

/* #game .screen.active:not(.grid){
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: center;
	display: block;	
} */

/* #game .screen.active.grid {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
} */

#main-menu {
	padding-top: 1em;
	cursor: pointer;
	font-size: 0.75em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li .button {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;	
	width: 10em;		
  border: none;
	color: #00d0d0;
	background-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  margin: 4px 2px;
  cursor: pointer;
}

ul.menu li .button:hover {
	color: black;
	background-color: #00d0d0;
}

ul.menu li button:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

#game div p {
	font-size: 0.5em;
}

#about p {
	text-align: center;
}
